@import 'styles.scss';

button {
    gap: $space-16;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: $space-8 $space-16;
    font-size: $font-16;
    font-weight: 500;
    border: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box; 
    border-radius: $space-8;
    width: -webkit-fill-available;
  
    &.default {
      background-color: $primary-color;
      color: $white;
    }
  
    &.disabled {
      background-color: $gray1;
      color: $white;
      cursor: not-allowed;
  
      .icon {
        color: lighten($gray1, 20%);
      }
    }
  
    &.outline {
      background-color: transparent;
      color: $primary-color;
      border: 2px solid $primary-color;
    }
  
    .icon {
      display: inline-block;
      margin: 0 $space-8;
    }
  
    .left-icon {
      margin-right: $space-8;
    }
  
    .right-icon {
      margin-left: $space-8;
    }
  }
  
  .card {
    position: relative; /* Necesario para posicionar el tooltip */
  }
  
  .tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    white-space: nowrap;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
  
  button:hover .tooltip {
    opacity: 1;
    visibility: visible;
  }

.button-active {
  background-color: darken($primary-color, 10%) !important;
}

@media screen and (min-width: 1000px) {
    button {
      &.default {
        &:hover {
          background-color: darken($primary-color, 10%);
        }
      }
      &.outline {
        &:hover {
          background-color: $primary-color;
          color: $white;
        }
      }
    }
}
  