@import 'styles.scss';

main {
	width: 100%;
	display: none;
	padding: 24px;
	height: $space-48;
	position: relative;
	align-items: center;
	box-sizing: border-box;
	box-shadow: 1px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.img-container {
	left: 0;
	width: 100%;
	display: flex;
	position: absolute;
	justify-content: center;

	img {
		width: 80px;
	}
}

@media screen and (max-width: 768px) {
	main {
		display: flex;
	}
}
