main {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr;
	grid-template-areas:
		'header header'
		'sidebar content';
	height: 100vh;
	overflow: hidden;

	& > app-header {
		grid-area: header;
	}

	& > app-side-bar {
		grid-area: sidebar;
	}

	& > aside {
		overflow: auto;
		grid-area: content;
	}
}
