main {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr;
	grid-template-areas:
		'header header'
		'sidebar content';
	height: 100vh;

	& > app-header {
		grid-area: header;
	}

	& > app-side-bar {
		grid-area: sidebar;
	}

	& > aside {
		overflow: auto;
		grid-area: content;
	}
}

@media screen and (min-width: 1000px) {
	app-header {
		display: none;
	}
}

@media screen and (max-width: 1000px) {
	app-header {
		display: flex;
	}
	app-side-bar {
		display: none;
	}
}