@import 'styles.scss';

.badge {
  background-color: $primary-color;
  color: $white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  width: fit-content;
  font-weight: 500;

    &.badge--primary {
        background-color: $primary-color;
    }
    &.badge--success {
        background-color: $success-color;
    }

    &.badge--warning {
        background-color: $warning-color;
    }

    &.badge--danger {
        background-color: $danger-color;
    }

    &.badge--info {
        background-color: $info-color;
    }

    &.badge--light {
        background-color: $light-color;
    }

    &.badge--dark {
        background-color: $dark-color;
    }
}