@import 'styles.scss';

.badge {
    color: $white;
    padding: 4px 8px;
    border-radius: 24px;
    width: fit-content;
    font-weight: 400;
    font-size: $font-16;
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;

    &.primary {
        background-color: $primary-color;
        color: $white;
    }
    &.secondary {
        background-color: $secondary-color;
        color: $primary-color;
    }
    &.success {
        background-color: $success-color;
    }

    &.warning {
        background-color: $warning-color;
    }

    &.danger {
        background-color: $danger-color;
    }

    &.info {
        background-color: $info-color;
    }

    &.light {
        background-color: $light-color;
    }

    &.dark {
        background-color: $dark-color;
    }
}