$gray1: #858585;
$white: #ffffff;
$black: #000000;
$primary-color: #4c81d6;
$secondary-color: #f0b711;

$success-color: #28a745;
$warning-color: #ffc107;
$danger-color: #dc3545;
$info-color: #17a2b8;
$light-color: #f8f9fa;
$dark-color: #343a40;
