.form {
	display: flex;
	gap: $space-24;
	flex-direction: column;
}

.form-section {
	display: flex;
	flex-direction: column;
}

.form-section label {
	display: block;
	margin-bottom: $space-8;
	font-size: $font-16;
	color: $gray1;
}

.inputs-inline {
	display: flex;
	gap: $space-16;
	flex-wrap: wrap;
}

.form-section-inline {
	display: flex;
	gap: $space-32;
	flex-wrap: wrap;
}