@import './font-sizes.scss';
@import './colors.scss';
@import './spaces.scss';
@import './inputs.scss';
@import './forms.scss';

* {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}

button {
	font-family: 'Roboto', sans-serif;
}

.title1 {
	font-size: $font-40;
	color: $secondary-color;
}

.label {
	font-size: $font-16;
	color: $gray1;
}

.error {
	color: red;
	font-size: $font-12;
	margin-top: $space-8;
}

.input-group input[type='email'],
input[type='password'],
input[type='text'] :focus {
	border-color: $primary-color;
	outline: none;
}

.has-error input {
	border-color: red;
}
