@import 'styles.scss';

main {
	width: 280px;
	height: 100%;
	display: flex;
	gap: $space-16;
	padding: $space-16;
	padding-right: 0;
	box-sizing: border-box;
	flex-direction: column;
	background-color: $primary-color;

	app-menu-list {
		flex: 1;
	}
}
