@import 'styles.scss';

main {
    border: solid 1px $gray1;
    border-radius: 8px;
    margin: 16px 24px;
    padding: 8px 16px;

    h2{
        color: $primary-color;
        font-size: 1.2rem;
        margin-bottom: 16px;
        margin-top: 16px;
    }
    .show-more-container{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
    }

    span{
        color: $gray1;
        font-size: 1rem;
        cursor: pointer; 
        color: $secondary-color;
       
        &:hover{
            text-decoration: underline;
            color: darken($secondary-color, 10%);
        }
    }
}

