<main>
	<!-- Header -->
	<header class="header">
		<h1 class="title1">Eventos</h1>
		<app-button [text]="'Crear evento'" [leftIcon]="'plus'" (click)="redirectToCreateEvent()" />
	</header>

	<!-- Events list -->
	<section class="list-events-container">
		<app-empty-list-message elementName="eventos" *ngIf="eventListEmpty()" />

		<app-event-list *ngIf="!eventListEmpty()" [events]="events" />

		<app-pagination
			*ngIf="totalPages > 1"
			[totalPages]="totalPages"
			[currentPage]="filters.page"
			(pageChange)="onPageChange($event)"
		/>
	</section>
</main>
