<main>
    <section class="participant">
        <div class="row contract-info">
            <span class="label">Contracto:</span>
            <span class="value">CTN-001</span>
        </div>
        <div class="row company-info">
            <span class="label">Empresa</span>
            <span class="value">Fomag</span>
        </div>
        <div class="row operator-info">
            <span class="label">Operador:</span>
            <span class="value">VTC</span>
        </div>
    </section>
    <section class="ubication-date">
        <div class="row ubication-info">
            <span class="label">Ciudad:</span>
            <span class="value">Manizales</span>
        </div>
        <div class="row date-init-info">
            <span class="label">Fecha Inicio:</span>
            <span class="value">12 de Julio 2024</span>
        </div>
        <div class="row date-create-info">
            <span class="label">Fecha Creación:</span>
            <span class="value">10 de Julio 2024</span>
        </div>
    </section>
    <section class="ubication-date">
        <div class="row ubication-info">
            <span class="label">Departamento:</span>
            <span class="value">Caldas</span>
        </div>
        <div class="row date-init-info">
            <span class="label">Hora Inicio:</span>
            <span class="value">10:00 PM</span>
        </div>
        <div class="row date-create-info">
            <span class="label">Hora Creación:</span>
            <span class="value">08:00 AM</span>
        </div>
    </section>
</main>
