<main>
    <section class="participant">
        <div class="row contract-info">
            <span class="label">Contracto:</span>
            <span class="value">{{event.contractName}}</span>
        </div>
        <div class="row company-info">
            <span class="label">Empresa</span>
            <span class="value">{{ event.companyName }}</span>
        </div>
        <div class="row operator-info">
            <span class="label">Operador:</span>
            <span class="value">{{ event.operatorName }}</span>
        </div>
    </section>
    <section class="ubication-date">
        <div class="row ubication-info">
            <span class="label">Ciudad:</span>
            <span class="value">{{event.city}}</span>
        </div>
        <div class="row date-init-info">
            <span class="label">Inicia:</span>
            <span class="value">{{event.startDate | date:'d \'de\' MMMM \' \' y' }}</span>
        </div>
        <div class="row date-create-info">
            <span class="label">Creado:</span>
            <span class="value">{{ event.endDate | date:'d \'de\' MMMM \' \' y'}}</span>
        </div>
    </section>
    <section class="ubication-date">
        <div class="row ubication-info">
          <span class="label">Departamento:</span>
          <span class="value">{{ event.department }}</span>
        </div>
        <div class="row date-init-info">
          <span class="label">Hora Inicio:</span>
          <span class="value">{{ getFormattedDate(event.startDate.toString(), event.startTime) | date:'hh:mm a' }}</span>
        </div>
        <div class="row date-create-info">
          <span class="label">Hora Creación:</span>
          <span class="value">{{ event.createdAt | date:'hh:mm a' }}</span>
        </div>
      </section>      
</main>