:root {
	/* Colors */
    --gray1: #858585;
	--white: #ffffff;
	--black: #000000;
	--primary-color: #4c81d6;
	--secondary-color: #f0b711;

	/* Spaces */
	--space-8: 8px;
	--space-16: 16px;
	--space-24: 24px;
	--space-32: 32px;
	--space-40: 40px;
	--space-48: 48px;
	--space-56: 56px;
	--space-64: 64px;
	--space-72: 72px;
	--space-80: 80px;

	/* Fonts */
	--font-12: 12px;
	--font-14: 14px;
	--font-16: 16px;
	--font-18: 18px;
	--font-20: 20px;
	--font-24: 24px;
	--font-32: 32px;
	--font-40: 40px;
}

* {
    font-family: sans-serif;
}
